@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.footer {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: start;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: #e5e7eb; /* define a cor de fundo desejada */
  width: 8px; /* define a largura dos pontos */
  height: 8px; /* define a altura dos pontos */
  border-radius: 50%; /* define a forma dos pontos como redonda */
}

.mySwiper {
  --swiper-theme-color: #e5e7eb;
  --swiper-navigation-color: #e5e7eb;
  --swiper-pagination-color: #e5e7eb;
  --swiper-navigation-size: 40px;
  --swiper-pagination-size: 10px;
}

.bubble {
  width: 140px;
  height: 130px;
  border-radius: 10px;
}

.bubble3 {
  @extend .bubble;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 70%;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-bottom-color: #0b0b0b;
    border-top: 0;
    margin-left: -13px;
    margin-top: -13px;
  }
}

.badge {
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
  clip-path: polygon(100% 0, 0% 100%, 0 0);
}

.bottom {
  clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 100%);
  margin-top: -40px;
}

@media (min-width: 640px) {
  .bottom {
    clip-path: polygon(0 40px, 100% 0, 100% 100%, 0 100%);
    margin-top: -40px;
  }
}
